@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html{
    scroll-behavior: smooth;

}

* {

    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: rgb(125, 255, 253);
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

:root {
    --clr: rgb(38,35,53);


}

body {
    
    background: var(--clr);
    
}

h1 {

    position: relative;
    top: 20%;
    font-size: 11pt;
    font-weight: bold;


}
p1 {
    font-size: 18pt;

}

p {

    line-height: 1.75;
    font-size: 12pt;

}

p3 {
    font-style: italic;
    color: rgb(92, 149, 255);
   text-shadow: 0px 1px 8px rgb(154, 178, 255);

}

.specialWords {
    color:rgb(255, 220, 241);
    text-shadow: 0px 1px 10px rgb(255, 61, 158);

}

header {
    
    position: fixed;
    margin-top: 0;
    margin-left: 0%;
    display: grid;
    z-index: 3;
    
    
    
}

.rectangle {
    position: absolute;
    margin-top: 2%;
    height: 70px;
    width: 100vw;
    background-color:rgb(68,57,100);
    z-index: 2;


}

.rectangle2 {
    position: fixed;
    height: 80px;
    width: 100vw;;
    background: var(--clr);
    z-index: 1;

}


.navigation {
    position: sticky;
    width: 400px;
    height: 70px;
    margin-left: 75vw;
    margin-right:25vw;
    margin-top: 2%;
    border-radius: 10px;
    background: rgb(68,57,100);
    display: grid;
    place-content: center;
    z-index: 3;
    

    
    

}

.navigation ul {

    display: flex;
    width: 350px;
    list-style-type: none;
   


}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    
    


}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height:  75px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--clr);
    transition: 0.5s;
    z-index: 3;


}

.navigation ul li.active a .icon { 
    transform: translateY(-32px);




}

.navigation ul li a .text {
    position: absolute;
    color: rgb(254, 222, 093);
    font-size: 10pt;
    font-weight: bold;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
    
    

}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(14px);


}

.indicator {
    position: absolute;
    top: -50%;
    left: 6%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(255, 91, 187);
    border: 7px solid var(--clr);
    transition: 0.5s;
   

}

.indicator::before {
    content:"";
    position: absolute;
    top: 50%;
    left: -22px;
    height: 20px;
    width: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);


}

.indicator::after {
    content:"";
    position: absolute;
    top: 50%;
    right: -22px;
    height: 20px;
    width: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);

}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));


}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));

}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));

}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));

}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));

}


.container {

    margin-left: 5%;
    height: 100vh;
    width: 90%;
    display: flex;
    animation: transitionIn 1s;
    z-index: -2;
    
}


.headings {

    font-size: 40pt;
    font-weight: bold;
    

}

.lists {

    position: relative;
    display: flex;
    margin-top: 4.5vh;
    margin-left: 2vw;
    list-style-type: none;

}

.links {

    position: relative;
    font-size: 1.5rem;
    margin-right: 0.5%;
   
    

}

.blink {
    transition: 0.5s;
    border-radius: 26px;
    
    
}

.blink:hover{
    background-color: #2c2138;
    
    opacity: 0.5;
}


@keyframes transitionIn {

    from
    {
        opacity: 0;
        transform: rotateX(-10deg);


    }
    to
    {
        opacity: 1;
        transform: rotate(0);



    }

}

#home .container {
    align-items: center;
    justify-content: center;
    

}


#about .container
{
    justify-content: left;
    align-items: center;
    

}

#projects .container {
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}





#extras .container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutText ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: circle;
    list-style-position: inside;


}

.aboutText li {
    margin-right: 3em;
    color:rgb(255, 91, 187);
    font-weight: bolder;

}

.aboutText {

    float:left;
    
    

}


.aboutPic {

    margin-left: 20%;
    float: right;

}

.abtpic {

    max-width: 500px;
    margin-right: 100px;
    height: auto;
    transition: 0.75s;
    filter:grayscale();

}

.abtpic:hover {

    filter:none;


}

#work .container {
    
    align-items: center;
    justify-content: center;
    
}

#work .container h2 {

    margin-left: 10vw;
    margin-right: 10vw;
 

}

#work .container h3 {

    font-size: 16pt;
}

#extras .container {

    align-items: center;
    justify-content: center;

}


.Wtable
{
    background-color: rgb(68,57,100);
    border-radius: 20px;
    padding: 25px;
    width: 50vw;
    height: 50vh;
    
    min-width: none;
 

    
}



.buttonBox {

    width: 50vw;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-around;
    border: none;
    position: absolute;
   
  
    
}

.buttonBox .tabBtn {
    font-size: 14pt;
    font-weight: bold;
    color:rgb(254, 222, 093);
    background: none;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: 0.6s;

 

}

.buttonBox .tabBtn:hover {
    color: rgb(255, 91, 187);
    transition: 0.6s;
}

.buttonBox .tabBtn.active{
    color: rgb(255, 91, 187);
}

.contentBox {

    position: static;
    padding: 20px;

    

}

.contentBox .content {
    display: none;
    animation: transitionIn 0.6s ease;
   
    
}

.contentBox .content.active {
    display: block;

}


.contentBox .content h2{
    margin-bottom: 10px;
 

}

.line {
    position: absolute;
    left: 0px;
    width: 130px;
    height: 4px;
    margin-top: 35px;
    background-color: rgb(255, 91, 187);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;

}

.smalls
{
    font-size: 10pt;
    
}

.image {

    max-width: 100%;
    border-radius: 45px;
    padding: 20px;
}

.gif {

    max-width: 100%;
    border-radius: 45px;
    padding: 20px;
    display: none;

}


.card {

    min-width: 300px;
    min-height: 500px;
    max-width: 300px;
    max-height: 100%;
    text-align: center;
    transition: 0.5s;
    border-radius: 20px;
    background-color: rgb(68,57,100);
    margin-top: 20px;
    margin-right: 20px;

}

.card h3 {
    color: rgb(92, 149, 255);
    font-weight: bolder;


}

.card:hover {
    box-shadow: 0 5px 12px 0 rgb(255, 91, 187);
    text-shadow: 0px 1px 5px rgb(117, 193, 255);
    transform: translateY(-15px);
   

}


.cards {
    align-items: center;
    justify-content: center;
    display: flex;
 

}

.here {
    font-weight: bold;
    color: rgb(255, 91, 187);
    transition: 0.5s;

}

.here:hover {
    color: rgb(255, 188, 225);
    text-shadow: 0 2px 10px rgb(255, 91, 187);
 
}


.EXimg {

    max-height: 400px;
    float: left;
    border-radius: 15px;

}

.EXbox div {
    padding: 0%;
    display: flex;
    animation: transitionIn 1s;
}

.EXbox {

    background-color: rgb(68,57,100);
    border-radius: 25px;
    padding: 35px;
    min-width: 50vw;
    min-height: 50vh;
    

 
}

.EXbox div:not(:first-child) {

    display: none;

}

.EXtext {

    float:right;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 500px;
    max-width: 500px;
    display: block;
    overflow-wrap: break-word;
    padding-top: 90px;

}

.EXbut {    
    margin-left: 90px;
    margin-top: 20px;
    margin-right: 90px;
    width: 80px;
    height: 50px;
    font-weight: bold;
    border-radius: 40px;
    background-color: rgb(255, 91, 187);
    border: none;
    transition: 0.5s;
    font-size: 16pt;
}


.EXbut:hover {

    background-color: rgb(255, 188, 225);
    box-shadow: 0 2px 10px rgb(255, 91, 187);


}


.EXtext h3 {

    color: rgb(92, 149, 255);
    font-weight: bolder;
    text-shadow: 0px 1px 5px rgb(117, 193, 255);


}